/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.active {
    background-color: #F1F1F1;
}
.font {
    color: #505050;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.profile-div {
    height: 64px;
}

.font-size {
    font-size: 18px;
}
.middle-font-size {
    line-height: 19px;
    font-size: 16px;
}
.delete-list-style {
    list-style-type: none;
}

.navigation {
    top: 64px;
    height: 40px;
    width: 100%;
}

.top-indent {
    margin-top: 136px;
}
.small-font {
    font-size: 14px;
}
.img-size {
    width: 25px;
    height: 25px;
}
.map-height {
    height: 568px;
}
.map-timer-heading {
    height: 56px;
}
.link-decoration{
    text-decoration: none;
}
.timer-height {
    height: 123px;
}
.yaMap {
    display: none;
    height: 480px;
}
.preloader-position {
    margin-top: 220px;
}
.items-size {
    height: 18px;
}
.items {
    width: 232px;
    height: 48px;
}
.navigation-box {
    height: 312px;
}
.message-box {
    height: 190px;
}
.skills-box {
    height: 775px;
}
.rotate-img {
    transform: rotate(180deg);
    width: 11.29px;
}
.text-box {
    height: 88px;
}
.send-box {
    height: 32px;
    background: #5095EC;
}
.post-box{
    height: 56px;
}
.small-img {
    height: 8.5px;
}
.very-small-font {
    font-size: 12px;
}
.icons-width {
    width: 24px;
}