/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.active {
    background-color: #F1F1F1;
}
.font {
    color: #505050;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.profile-div {
    height: 64px;
}

.font-size {
    font-size: 18px;
}

.delete-list-style {
    list-style-type: none;
}

.navigation {
    top: 64px;
    height: 40px;
    width: 100%;
}

.top-indent {
    margin-top: 136px;
}
.small-font {
    font-size: 14px;
}
.img-size {
    width: 25px;
    height: 25px;
}
.map-height {
    height: 568px;
}
.map-timer-heading {
    height: 56px;
}
.link-decoration{
    text-decoration: none;
}
.timer-height {
    height: 123px;
}
.yaMap {
    display: none;
    height: 480px;
}